body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #3C8DBC !important;
}

.makeStyles-content-12 {
  background-color: #ECF0F5 !important;
}

.makeStyles-drawerPaper-9 {
  background-color: #222D32 !important;
}

.MuiPaper-root {
  background-color: #222D32 !important;
  color: #fff !important
}

.MuiIconButton-root {
  color: white;
}

.MuiSvgIcon-root {
  fill: white;
}

.MuiTypography-body1 {
  color: white;
}