@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #3C8DBC !important;
}

.makeStyles-content-12 {
  background-color: #ECF0F5 !important;
}

.makeStyles-drawerPaper-9 {
  background-color: #222D32 !important;
}

.MuiPaper-root {
  color: #fff !important
} 

.MuiIconButton-root {
  color: white;
}

.MuiSvgIcon-root {
  fill: white !important;
}

.MuiTypography-body1 {
  color: white;
}

.MuiAvatar-root {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  font-size: 1.25rem;
  align-items: center;
  flex-shrink: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
  margin-left: 7%;
  margin-top: -18%;
  margin-bottom: 20%;
}

.user {
  margin-top: -36%;
  margin-left: 31%;
  font-size: 15px;
  color: white;
}

.mainnavigation {
  margin-left: 4%;
  color: grey;
}

.dashboardData {
  color: grey;
  font-family: "Open Sans";
  font-weight: 200
}

h6 {
  color: rgb(63, 62, 62)!important;
  font-weight: 550 !important;
  font-family: "Open Sans";
  font-size: 14px !important
}

.sbmt {
  margin-left: 78%
}